<!DOCTYPE html>
<html>
<head>
	<title>CloudCV Display Image</title>
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

<nav class="teal" style="padding-left: 20px; margin-bottom: 50px;">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">CloudCV</a>
    </div>
</nav>


<div class="container">
	<h5>Uploaded Image</h5>
	<img class="materialboxed" width="450" src="../media/uploaded.jpeg">
	<h5>Grayscaled Image</h5>
	<img class="materialboxed" width="450" src="../media/gray_scale_uploaded.jpeg">
	<h5>Canny Edge Image</h5>
	<img class="materialboxed" width="450" src="../media/canny_uploaded.jpeg">
	<h5>Blur Image</h5>
	<img class="materialboxed" width="450" src="../media/blur_uploaded.jpeg">
	<h5>Threshold Image</h5>
	<img class="materialboxed" width="450" src="../media/threshold_uploaded.jpeg">
	<h5>Bilateral Filtered Image</h5>
	<img class="materialboxed" width="450" src="../media/bilateral_filter_uploaded.jpeg">
</div>

</body>
</html>